In [36]:
import pandas
import math
from sklearn import neighbors, datasets
from numpy.random import permutation
import matplotlib.pyplot as plt
import numpy as np
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_recall_fscore_support

In [37]:
#col_names=['index','toeflScore','greV','greQ','greA','cgpa','cgpaScale','univName']
data = pandas.read_csv('csv/processed_data.csv')

data.head()
data.shape

(5271, 8)

In [38]:
new_df= data[['index','toeflScore','greV','greQ','greA','cgpa','univName']]
new_df.head(10)

,index,toeflScore,greV,greQ,greA,cgpa,univName
0,0,112,610,800,4.5,0.8500,Worcester Polytechnic Institute
1,2,94,400,730,3.0,0.7828,Worcester Polytechnic Institute
2,4,81,420,770,2.5,0.5700,Worcester Polytechnic Institute
3,5,273,410,1010,600.0,0.5200,Worcester Polytechnic Institute
4,6,104,450,770,4.5,0.6220,Worcester Polytechnic Institute
5,7,95,410,720,3.0,0.5200,Worcester Polytechnic Institute
6,8,101,490,740,3.0,0.6400,Worcester Polytechnic Institute
7,9,107,550,780,4.5,0.7140,Worcester Polytechnic Institute
8,10,94,420,680,3.5,0.5730,Worcester Polytechnic Institute
9,11,99,490,780,3.5,0.6500,Worcester Polytechnic Institute

In [39]:
random_indices = permutation(data.index)
test_cutoff = math.floor(len(data)/5)
print(test_cutoff)
test = data.loc[random_indices[1:test_cutoff]]
print(test)
train = data.loc[random_indices[test_cutoff:]]
train_output_data = train['univName']
train_input_data = train
train_input_data = train_input_data.drop('univName',1)
test_output_data = test['univName']
test_input_data = test
test_input_data = test_input_data.drop('univName',1)
print(test)

1054
      index  toeflScore  greV  greQ  greA    cgpa  cgpaScale  \
849    2461         114   690   790   3.5  0.0880        100
1432   3679         103   540   710   4.0  0.0000          0
1969   4326         101   450   730   3.5  0.8000         10
3049   5608         115   580   800   4.0  0.7406        100
155     251          83   450   710   3.0  0.5600        100
1080   2950         101   440   800   3.5  0.7860         10
705    2273         111   520   770   4.0  0.8200        100
1602   3875           8   560   790   4.0  0.7100         10
1849   4182          93   480   800   3.5  0.6100        100
2928   5470          85   440   760   3.0  0.7600         10
1114   2991         118   670   800   5.0  0.9725          4
4528   9435         112   590   790   4.0  0.7000        100
3062   5623         104   570   800   3.5  0.8400        100
1737   4040         102   440   770   3.5  0.8180         10
3751   8249         101   340   680   3.5  0.7800        100
2056   4429         112   570   800   4.5  0.7313        100
3605   8069         107   500   780   3.5  0.8430         10
5019  10007         109   660   780   2.5  0.8240        100
1330   3551         109   530   750   3.5  0.8000        100
3090   5657          91   410   770   3.0  0.7900        100
377     550         111   560   800   3.0  0.7550         10
1635   3917         111   520   800   3.5  0.6820        100
5249  10273         273   680   800   4.5  0.6000        100
3516   7955         104   500   800   3.5  0.8675          4
2934   5477         106   530   770   3.5  0.9320         10
4959   9937         118   660   800   4.5  0.8066        100
1072   2942         111   550   800   3.5  0.7700        100
1838   4170         100   450   800   3.5  0.7890         10
3292   6772         113   640   800   4.0  0.8380         10
648    1534         108   560   800   3.5  0.8908         10
...     ...         ...   ...   ...   ...     ...        ...
547    1425         118   800   800   5.0  0.8000        100
3779   8282          90   320   790   3.0  0.7600         10
4841   9801         104   400   730   3.0  0.7585        100
1884   4224          96   520   740   4.0  0.7200        100
4557   9466         100   520   720   3.0  0.7400        100
1329   3550          94   410   760   3.0  0.7840         10
5152  10158         116   710   800   5.0  0.8320         10
1054   2923         107   440   770   4.0  0.8600        100
4808   9764         273   560   800   4.5  0.8100        100
5115  10118         104   600   790   3.5  0.8140         10
2644   5144          99   480   680   3.5  0.6900        100
3649   8125          95   450   730   3.5  0.7836        100
844    2454         104   500   780   4.0  0.5800        100
1605   3878         101   530   790   3.0  0.6800         10
4037   8596         104   470   780   3.5  0.6200        100
940    2789          99   390   740   3.0  0.8300         10
1882   4222         110   450   800   3.5  0.7961        100
1063   2933         116   590   780   4.5  0.9830         10
3095   5663          88   410   740   3.0  0.0840        100
4346   9220         290   720   790   5.0  0.6940        100
2809   5329          89   380   770   3.0  0.6100        100
4975   9955         117   610   800   4.0  0.9500         10
1922   4266          98   370   760   3.5  0.7500        100
4412   9301         110   580   770   4.5  0.7310        100
3892   8426          85   440   740   3.0  0.6904        100
3045   5604         111   570   780   3.5  0.7300        100
3191   5777          90   440   720   3.5  0.8100         10
874    2712         106   640   800   4.0  0.7520         10
5148  10154         115   640   800   4.0  0.8430         10
1502   3760         109   470   770   4.0  0.7920         10

                                               univName
849                            University of Washington
1432                         University of Texas Dallas
1969                         University of Texas Dallas
3049                         University of Texas Dallas
155                              Wayne State University
1080                                 University of Utah
705                            University of Washington
1602                         University of Texas Dallas
1849                         University of Texas Dallas
2928                         University of Texas Dallas
1114                                 University of Utah
4528                  University of Southern California
3062                         University of Texas Dallas
1737                         University of Texas Dallas
3751                      University of Texas Arlington
2056                         University of Texas Dallas
3605                      University of Texas Arlington
5019                  University of Southern California
1330                         University of Texas Dallas
3090                         University of Texas Dallas
377   Virginia Polytechnic Institute and State Unive...
1635                         University of Texas Dallas
5249                  University of Southern California
3516                      University of Texas Arlington
2934                         University of Texas Dallas
4959                  University of Southern California
1072                                 University of Utah
1838                         University of Texas Dallas
3292                         University of Texas Austin
648                     University of Wisconsin Madison
...                                                 ...
547                     University of Wisconsin Madison
3779                      University of Texas Arlington
4841                  University of Southern California
1884                         University of Texas Dallas
4557                  University of Southern California
1329                         University of Texas Dallas
5152                  University of Southern California
1054                                 University of Utah
4808                  University of Southern California
5115                  University of Southern California
2644                         University of Texas Dallas
3649                      University of Texas Arlington
844                            University of Washington
1605                         University of Texas Dallas
4037                      University of Texas Arlington
940                                  University of Utah
1882                         University of Texas Dallas
1063                                 University of Utah
3095                         University of Texas Dallas
4346                  University of Southern California
2809                         University of Texas Dallas
4975                  University of Southern California
1922                         University of Texas Dallas
4412                  University of Southern California
3892                      University of Texas Arlington
3045                         University of Texas Dallas
3191                         University of Texas Dallas
874                                  University of Utah
5148                  University of Southern California
1502                         University of Texas Dallas

[1053 rows x 8 columns]
      index  toeflScore  greV  greQ  greA    cgpa  cgpaScale  \
849    2461         114   690   790   3.5  0.0880        100
1432   3679         103   540   710   4.0  0.0000          0
1969   4326         101   450   730   3.5  0.8000         10
3049   5608         115   580   800   4.0  0.7406        100
155     251          83   450   710   3.0  0.5600        100
1080   2950         101   440   800   3.5  0.7860         10
705    2273         111   520   770   4.0  0.8200        100
1602   3875           8   560   790   4.0  0.7100         10
1849   4182          93   480   800   3.5  0.6100        100
2928   5470          85   440   760   3.0  0.7600         10
1114   2991         118   670   800   5.0  0.9725          4
4528   9435         112   590   790   4.0  0.7000        100
3062   5623         104   570   800   3.5  0.8400        100
1737   4040         102   440   770   3.5  0.8180         10
3751   8249         101   340   680   3.5  0.7800        100
2056   4429         112   570   800   4.5  0.7313        100
3605   8069         107   500   780   3.5  0.8430         10
5019  10007         109   660   780   2.5  0.8240        100
1330   3551         109   530   750   3.5  0.8000        100
3090   5657          91   410   770   3.0  0.7900        100
377     550         111   560   800   3.0  0.7550         10
1635   3917         111   520   800   3.5  0.6820        100
5249  10273         273   680   800   4.5  0.6000        100
3516   7955         104   500   800   3.5  0.8675          4
2934   5477         106   530   770   3.5  0.9320         10
4959   9937         118   660   800   4.5  0.8066        100
1072   2942         111   550   800   3.5  0.7700        100
1838   4170         100   450   800   3.5  0.7890         10
3292   6772         113   640   800   4.0  0.8380         10
648    1534         108   560   800   3.5  0.8908         10
...     ...         ...   ...   ...   ...     ...        ...
547    1425         118   800   800   5.0  0.8000        100
3779   8282          90   320   790   3.0  0.7600         10
4841   9801         104   400   730   3.0  0.7585        100
1884   4224          96   520   740   4.0  0.7200        100
4557   9466         100   520   720   3.0  0.7400        100
1329   3550          94   410   760   3.0  0.7840         10
5152  10158         116   710   800   5.0  0.8320         10
1054   2923         107   440   770   4.0  0.8600        100
4808   9764         273   560   800   4.5  0.8100        100
5115  10118         104   600   790   3.5  0.8140         10
2644   5144          99   480   680   3.5  0.6900        100
3649   8125          95   450   730   3.5  0.7836        100
844    2454         104   500   780   4.0  0.5800        100
1605   3878         101   530   790   3.0  0.6800         10
4037   8596         104   470   780   3.5  0.6200        100
940    2789          99   390   740   3.0  0.8300         10
1882   4222         110   450   800   3.5  0.7961        100
1063   2933         116   590   780   4.5  0.9830         10
3095   5663          88   410   740   3.0  0.0840        100
4346   9220         290   720   790   5.0  0.6940        100
2809   5329          89   380   770   3.0  0.6100        100
4975   9955         117   610   800   4.0  0.9500         10
1922   4266          98   370   760   3.5  0.7500        100
4412   9301         110   580   770   4.5  0.7310        100
3892   8426          85   440   740   3.0  0.6904        100
3045   5604         111   570   780   3.5  0.7300        100
3191   5777          90   440   720   3.5  0.8100         10
874    2712         106   640   800   4.0  0.7520         10
5148  10154         115   640   800   4.0  0.8430         10
1502   3760         109   470   770   4.0  0.7920         10

                                               univName
849                            University of Washington
1432                         University of Texas Dallas
1969                         University of Texas Dallas
3049                         University of Texas Dallas
155                              Wayne State University
1080                                 University of Utah
705                            University of Washington
1602                         University of Texas Dallas
1849                         University of Texas Dallas
2928                         University of Texas Dallas
1114                                 University of Utah
4528                  University of Southern California
3062                         University of Texas Dallas
1737                         University of Texas Dallas
3751                      University of Texas Arlington
2056                         University of Texas Dallas
3605                      University of Texas Arlington
5019                  University of Southern California
1330                         University of Texas Dallas
3090                         University of Texas Dallas
377   Virginia Polytechnic Institute and State Unive...
1635                         University of Texas Dallas
5249                  University of Southern California
3516                      University of Texas Arlington
2934                         University of Texas Dallas
4959                  University of Southern California
1072                                 University of Utah
1838                         University of Texas Dallas
3292                         University of Texas Austin
648                     University of Wisconsin Madison
...                                                 ...
547                     University of Wisconsin Madison
3779                      University of Texas Arlington
4841                  University of Southern California
1884                         University of Texas Dallas
4557                  University of Southern California
1329                         University of Texas Dallas
5152                  University of Southern California
1054                                 University of Utah
4808                  University of Southern California
5115                  University of Southern California
2644                         University of Texas Dallas
3649                      University of Texas Arlington
844                            University of Washington
1605                         University of Texas Dallas
4037                      University of Texas Arlington
940                                  University of Utah
1882                         University of Texas Dallas
1063                                 University of Utah
3095                         University of Texas Dallas
4346                  University of Southern California
2809                         University of Texas Dallas
4975                  University of Southern California
1922                         University of Texas Dallas
4412                  University of Southern California
3892                      University of Texas Arlington
3045                         University of Texas Dallas
3191                         University of Texas Dallas
874                                  University of Utah
5148                  University of Southern California
1502                         University of Texas Dallas

[1053 rows x 8 columns]

In [40]:
import csv
output_data = dict()
alldata=[]
univName=[]
inputfile = 'csv/processed_data.csv'
with open(inputfile, newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        k = row.get('univName')
        v = [ v for v in row.values() ][1:6]
        v = [float(i) for i in v]
        alldata.append(v)
        univName.append(k)
        output_data[k] = v
    #print(output_data)
    print(len(alldata))
output_data

5271

{'Worcester Polytechnic Institute': [106.0, 38.0, 50.0, 4.0, 0.83],
 'Wayne State University': [102.0, 440.0, 710.0, 3.0, 0.53],
 'Virginia Polytechnic Institute and State University': [290.0,
  730.0,
  800.0,
  5.5,
  0.63],
 'University of Wisconsin Madison': [115.0, 660.0, 800.0, 4.5, 0.799],
 'University of Washington': [103.0, 500.0, 740.0, 3.0, 0.7],
 'University of Utah': [102.0, 670.0, 770.0, 3.5, 0.6548],
 'University of Texas Dallas': [94.0, 550.0, 730.0, 3.0, 0.743],
 'University of Texas Austin': [102.0, 560.0, 800.0, 4.0, 0.994],
 'University of Texas Arlington': [96.0, 450.0, 760.0, 4.0, 0.72],
 'University of Southern California': [290.0, 730.0, 800.0, 5.5, 0.63]}

In [41]:
from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(alldata,univName)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [83]:
testSet = [[103.0, 660.0, 500.0, 4.5, 0.799]]
test = pandas.DataFrame(testSet)
distances, indices = model_knn.kneighbors(test, n_neighbors = 3)
indices=indices.tolist()
print(indices)

[[2958, 900, 3988]]

In [85]:
print("Recommended Universities for the Scores",testSet,"are")
for i in indices:
    x=i
    for j in x:
        print(univName[j])

Recommended Universities for the Scores [[103.0, 660.0, 500.0, 4.5, 0.799]] are
University of Texas Dallas
University of Utah
University of Texas Arlington