In [26]:
import pandas
import math
from sklearn import neighbors, datasets
from numpy.random import permutation
import matplotlib.pyplot as plt
import numpy as np
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_recall_fscore_support

In [27]:
#col_names=['index','toeflScore','greV','greQ','greA','cgpa','cgpaScale','univName']
data = pandas.read_csv('processed_new.csv')
print(data.shape)
data.head()

(25808, 6)

   Unnamed: 0   greV   greQ  greA  cgpa                          univName
0          14  150.0  166.0   3.0  4.00             Ohio State University
1          17  157.0  151.0   5.5  3.57              Texas A&M University
2          46  155.0  167.0   4.0  3.66  University Of California, Irvine
3          64  161.0  157.0   4.0  3.10                 Boston University
4         203  154.0  170.0   4.0  3.38           Oregon State University

In [28]:
import csv
output_data = dict()
alldata=[]
univName=[]
inputfile = 'processed_new.csv'
with open(inputfile, newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        k = row.get('univName')
        v = [ v for v in row.values() ][1:5]
        v = [float(i) for i in v]
        alldata.append(v)
        univName.append(k)
        output_data[k] = v
    #print(output_data)
    print(len(alldata))
output_data

25808

{'Ohio State University': [138.2978723, 146.8085106, 5.0, 4.0],
 'Texas A&M University': [130.0, 170.212766, 4.0, 3.7],
 'University Of California, Irvine': [130.0, 170.212766, 3.5, 3.1],
 'Boston University': [131.9148936, 146.8085106, 4.0, 3.2],
 'Oregon State University': [131.9148936, 153.1914894, 3.5, 3.86],
 'Stanford University': [130.0, 170.212766, 4.0, 3.99],
 'McGill University': [130.0, 170.212766, 3.0, 3.98],
 'University Of Texas At Austin': [130.0, 170.212766, 3.5, 4.0],
 'Columbia University': [130.0, 170.212766, 4.0, 3.99],
 'University Of Michigan': [155.3191489, 170.212766, 6.0, 3.8],
 'University Of Virginia': [148.9361702, 144.6808511, 5.5, 3.85],
 'Carnegie Mellon University': [130.0, 163.8297872, 3.5, 3.73],
 'University Of Texas At Dallas': [131.9148936, 165.9574468, 3.0, 3.5],
 'New York University': [159.0, 168.0, 4.0, 3.74],
 'University Of Southern California': [130.0, 170.212766, 3.5, 3.64],
 'Northeastern University': [130.0, 168.0851064, 4.5, 3.93],
 'Tufts University': [159.5744681, 170.212766, 5.0, 3.83],
 'Iowa State University': [136.1702128, 153.1914894, 4.0, 3.18],
 'North Carolina State University': [148.9361702, 170.212766, 5.5, 4.0],
 'American University': [130.0, 170.212766, 5.0, 3.83],
 'NCSU (North Carolina State University)': [156.0, 167.0, 3.5, 7.6],
 'University Of Californa, Los Angeles (UCLA)': [130.0,
  148.9361702,
  4.5,
  3.91],
 'Princeton University': [130.0, 170.212766, 3.0, 3.69],
 'University Of Wisconsin-Madison': [144.6808511, 170.212766, 3.0, 3.6],
 'Purdue University - West Lafayette': [130.0, 170.212766, 3.5, 3.79],
 'Northwestern University': [140.4255319, 168.0851064, 5.5, 3.99],
 'University Of Colorado, Boulder': [138.2978723, 155.3191489, 5.0, 3.8],
 'University Of Notre Dame': [136.1702128, 168.0851064, 6.0, 3.95],
 'Clemson University': [130.0, 168.0851064, 3.5, 3.3],
 'University Of Cincinnati': [134.0425532, 142.5531915, 5.0, 3.5],
 'University Of South Carolina': [153.1914894, 159.5744681, 5.0, 3.67],
 'University Of South Florida': [155.3191489, 134.0425532, 5.0, 3.8],
 'University Of Minnesota': [165.0, 156.0, 5.5, 4.0],
 'Emory University': [148.9361702, 130.0, 5.0, 3.6],
 'University Of Washington': [144.6808511, 170.212766, 4.5, 3.8],
 'George Washington University': [130.0, 146.8085106, 4.0, 3.2],
 'University Of Toronto': [131.9148936, 170.212766, 4.5, 4.0],
 'Arizona State University': [130.0, 130.0, 5.5, 4.0],
 'University Of Pennsylvania': [153.1914894, 170.212766, 3.0, 3.84],
 'University Of Houston': [153.1914894, 130.0, 5.5, 3.64],
 'UC San Diego (UCSD)': [130.0, 170.212766, 2.5, 3.88],
 'University Of Chicago': [131.9148936, 170.212766, 4.5, 3.86],
 'Colorado State University': [146.8085106, 130.0, 5.0, 3.45],
 'Harvard University': [151.0638298, 165.9574468, 4.0, 3.24],
 'University Of Arizona': [130.0, 165.9574468, 3.0, 4.0],
 'University Of Kansas': [134.0425532, 134.0425532, 0.0, 3.54],
 'University Of Florida': [130.0, 170.212766, 3.0, 3.6],
 'Rice University': [134.0425532, 170.212766, 4.5, 3.9],
 'Indiana University Bloomington': [138.2978723, 146.8085106, 4.5, 3.7],
 'Vanderbilt University': [144.6808511, 161.7021277, 4.5, 3.87],
 'University Of Kentucky': [130.0, 136.1702128, 4.0, 3.58],
 'University Of California, Davis': [130.0, 168.0851064, 5.0, 3.8],
 'University Of Illinois At Urbana-Champaign': [136.1702128,
  165.9574468,
  4.0,
  3.02],
 'University Of Colorado Boulder': [157.4468085, 130.0, 3.0, 3.3],
 'Rutgers University': [163.8297872, 165.9574468, 4.5, 3.96],
 'Michigan State University': [142.5531915, 170.212766, 5.0, 4.0],
 'University Of Utah': [130.0, 161.7021277, 4.5, 3.11],
 'University Of Georgia': [130.0, 170.212766, 4.0, 3.67],
 'Temple University': [163.8297872, 163.8297872, 5.5, 3.6],
 'University Of Wisconsin - Madison': [144.6808511, 163.8297872, 4.0, 3.9],
 'Duke University': [140.4255319, 170.212766, 6.0, 3.6],
 'Cornell University': [151.0638298, 163.8297872, 0.0, 3.75],
 'The University Of Chicago': [130.0, 170.212766, 4.0, 3.6],
 'University Of California, Berkeley': [130.0, 159.5744681, 4.5, 3.86],
 'Brown University': [168.0851064, 170.212766, 6.0, 3.9],
 'University Of Connecticut': [148.9361702, 170.212766, 3.5, 3.67],
 'Syracuse University': [138.2978723, 144.6808511, 4.0, 3.9],
 'University Of Oxford': [146.8085106, 159.5744681, 5.5, 3.78],
 'Georgetown University': [146.8085106, 151.0638298, 4.5, 3.62],
 'Johns Hopkins University': [170.212766, 131.9148936, 3.0, 3.84],
 'Purdue University': [130.0, 168.0851064, 4.5, 3.73],
 'University Of Rochester': [155.3191489, 168.0851064, 5.5, 3.7],
 'University Of California, San Diego': [130.0, 170.212766, 4.0, 3.6],
 'University Of Iowa': [144.6808511, 168.0851064, 5.0, 3.66],
 'University Of Delaware': [130.0, 170.212766, 4.5, 3.96],
 'North Carolina State University (NCSU)': [140.4255319,
  165.9574468,
  4.5,
  3.85],
 'University Of Maryland College Park': [130.0, 170.212766, 4.5, 3.87],
 'Stony Brook University': [140.4255319, 153.1914894, 5.0, 3.86],
 'Georgia State University': [130.0, 170.212766, 2.5, 3.8],
 'University Of Pittsburgh': [136.1702128, 136.1702128, 4.5, 3.3],
 'Washington University in St. Louis (WashU/WUSTL)': [155.3191489,
  168.0851064,
  5.5,
  3.7],
 'University Of Oregon': [168.0851064, 140.4255319, 5.5, 3.99],
 'University Of Michigan, Ann Arbor': [130.0, 170.212766, 4.5, 3.96],
 'George Mason University': [151.0638298, 168.0851064, 4.5, 3.2],
 'Carnegie Mellon University (CMU)': [170.212766, 130.0, 3.0, 3.0],
 'UC Berkeley': [170.0, 168.0, 5.5, 3.98],
 'University Of Maryland': [130.0, 170.212766, 4.0, 3.92],
 'UC Davis': [161.0, 163.0, 5.0, 3.94],
 'University Of California, Los Angeles (UCLA)': [130.0,
  170.212766,
  4.0,
  3.78],
 'Penn State (Pennsylvania State University)': [155.0, 158.0, 4.0, 3.3],
 'Penn State University': [155.0, 170.0, 3.5, 3.85],
 'UT Austin': [130.0, 170.212766, 4.0, 3.51],
 'Yale University': [138.2978723, 159.5744681, 4.5, 3.4],
 'UCLA': [168.0851064, 170.212766, 5.5, 3.65],
 'University Of Southern California (USC)': [130.0, 163.8297872, 4.5, 3.56],
 'University Of Florida (Gainesville)': [130.0, 170.212766, 4.5, 3.96],
 'UC Irvine': [130.0, 168.0851064, 4.5, 3.63],
 'UNC Chapel Hill': [142.5531915, 170.212766, 5.0, 3.8],
 'Wayne State University': [153.1914894, 163.8297872, 5.0, 3.54],
 'UIUC': [130.0, 170.212766, 3.0, 3.77],
 'The Ohio State University': [168.0851064, 140.4255319, 4.5, 3.91],
 'Virginia Polytechnic And State University (Virginia Tech)': [159.0,
  167.0,
  4.0,
  4.0],
 'New York University (NYU)': [136.1702128, 144.6808511, 4.5, 3.97],
 'USC': [151.0638298, 168.0851064, 6.0, 4.0],
 '(Arizona State University) ASU': [146.0, 161.0, 3.0, 3.2],
 'University Of Central Florida': [170.212766, 140.4255319, 3.0, 3.85],
 'The University Of Southern California (USC)': [164.0, 164.0, 4.5, 3.6],
 '(SUNY) University At Buffalo': [153.0, 158.0, 4.0, 3.77],
 'Carnegie  Mellon University (CMU)': [155.0, 170.0, 4.0, 3.2],
 'UCSD (University Of California, San Diego)': [150.0, 161.0, 4.0, 3.63],
 'University Of Texas At Austin (UT Austin)': [130.0, 130.0, 4.5, 3.6],
 'Florida State University': [130.0, 148.9361702, 4.0, 4.0],
 'ีUniversity Of Maryland - College Park (UMD)': [163.0, 168.0, 3.5, 3.8],
 'University Of Minnesota - Twin Cities (UMN)': [152.0, 165.0, 4.0, 3.7],
 '\u200cBoston University': [166.0, 161.0, 4.5, 3.99],
 'Ohio State University (OSU)': [140.4255319, 161.7021277, 4.5, 3.7],
 'University Of Wisconsin, Madison': [151.0638298, 170.212766, 3.0, 3.6],
 'University Of Washington, Seattle': [130.0, 161.7021277, 3.0, 3.93],
 'ีUniversity Of Maryland - College Park': [130.0, 165.9574468, 5.0, 3.9],
 'University Of Pennsylvania (UPenn)': [165.9574468, 131.9148936, 3.0, 3.4],
 '"University Of Washington Seattle': [143.0, 155.0, 3.5, 3.31],
 'Columbia  University': [157.0, 161.0, 4.5, 3.4],
 'The University Of Wisconsin - Madison': [130.0, 151.0638298, 4.0, 3.7],
 'UCSD': [165.0, 170.0, 5.5, 3.7],
 'University Of Maryland, College Park': [130.0, 170.212766, 0.0, 3.91],
 'University Of California, San Diego (UCSD)': [157.4468085,
  161.7021277,
  6.0,
  3.48],
 'University Of California, Berkeley (UCB)': [130.0, 170.212766, 4.0, 3.7]}

In [29]:
from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(alldata,univName)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [30]:
testSet = [[159.5744681, 170.212766, 5.0, 3.83]]
test = pandas.DataFrame(testSet)
distances, indices = model_knn.kneighbors(testSet, n_neighbors = 10)
indices=indices.tolist()
print(indices)

[[25456, 23140, 23314, 23888, 23810, 22830, 23165, 23200, 24670, 3924]]

In [31]:
print("Recommended Universities for the given GRE Quant, GRE Verbal and GPA Scores are",testSet,"are:")
for i in indices:
    x=i
    for j in x:
        print(univName[j])

Recommended Universities for the given GRE Quant, GRE Verbal and GPA Scores are [[159.5744681, 170.212766, 5.0, 3.83]] are:
Tufts University
University Of California, Berkeley (UCB)
University Of Washington
Boston University
Cornell University
University Of Toronto
University Of Arizona
University Of Wisconsin, Madison
University Of Oxford
Arizona State University