In [96]:
import collections
import pandas
from collections import defaultdict

In [97]:
data = pandas.read_csv('csv/UserInfo.csv')
data.shape

(10347, 26)

In [98]:
data = data.drop('gmatA',1)
data = data.drop('gmatQ',1)
data = data.drop('gmatV',1)
data = data.drop('specialization',1)
data = data.drop('department',1)
data = data.drop('program',1)
data = data.drop('toeflEssay',1)
data = data.drop('userProfileLink',1)
data = data.drop('topperCgpa',1)
data = data.drop('termAndYear',1)
data = data.drop('confPubs',1)
data = data.drop('userName',1)
data= data.drop('journalPubs',1)

In [99]:
print(data.shape)
data.head()

(10347, 13)

,major,researchExp,industryExp,toeflScore,internExp,greV,greQ,greA,ugCollege,cgpa,cgpaScale,univName,admit
0,Systems and Control,0,18,112.0,5.0,160.0,167.0,4.5,Dharamsinh Desai University,8.50,10,Worcester Polytechnic Institute,1.0
1,Manufacturing Engineering,0,0,NaN,0.0,NaN,NaN,NaN,NaN,0.00,0,Worcester Polytechnic Institute,1.0
2,(MIS / MSIM / MSIS / MSIT),0,66,94.0,0.0,146.0,157.0,3.0,IET DAVV,78.28,100,Worcester Polytechnic Institute,1.0
3,NaN,0,0,NaN,0.0,NaN,NaN,NaN,NaN,0.00,0,Worcester Polytechnic Institute,1.0
4,MIS,0,0,81.0,0.0,420.0,770.0,2.5,Pune University,57.00,100,Worcester Polytechnic Institute,1.0

In [100]:
data = data[data['admit'] > 0] #storing only the rows that has got admission
data.shape

(6314, 13)

In [101]:
data = data.drop('admit',1)
data.shape

(6314, 12)

In [102]:
university_list = list(set(data['univName'].tolist()))
university_list
len(university_list)

10

In [103]:
for i in range(len(university_list)):
    if(len(data[data['univName'] == university_list[i]]) < 100):
        data = data[data['univName'] != university_list[i]]

In [104]:
quantscore=list(set(data['greQ'].tolist()))
print(len(quantscore))

323

In [105]:
data = data.dropna()

In [106]:
print(data.shape)
data.head()
data = data[data['toeflScore'] <= 120] 
print(data.shape)
data.head()

(5271, 12)
(5146, 12)

,major,researchExp,industryExp,toeflScore,internExp,greV,greQ,greA,ugCollege,cgpa,cgpaScale,univName
0,Systems and Control,0,18,112.0,5.0,160.0,167.0,4.5,Dharamsinh Desai University,8.50,10,Worcester Polytechnic Institute
2,(MIS / MSIM / MSIS / MSIT),0,66,94.0,0.0,146.0,157.0,3.0,IET DAVV,78.28,100,Worcester Polytechnic Institute
4,MIS,0,0,81.0,0.0,420.0,770.0,2.5,Pune University,57.00,100,Worcester Polytechnic Institute
6,MIS,0,0,104.0,0.0,150.0,161.0,4.5,University of Mumbai,62.20,100,Worcester Polytechnic Institute
7,MIS-management related courses,0,0,95.0,0.0,147.0,156.0,3.0,MU,52.00,100,Worcester Polytechnic Institute

In [107]:
quantitative_table = {
    "800":"170",
    "780":"170",
    "770":"170",
    "740":"169",
    "750":"169",
    "730":"168",
    "710":"167",
    "700":"166",
    "680":"165",
    "690":"165",
    "670":"164",
    "650":"163",
    "640":"162",
    "620":"161",
    "610":"160",
    "590":"159",
    "580":"158",
    "560":"157",
    "550":"156",
    "530":"155",
    "520":"154",
    "500":"153",
    "490":"152",
    "470":"151",
    "450":"150",
    "440":"149",
    "420":"148",
    "410":"147",
    "400":"146",
    "380":"145",
    "370":"144",
    "360":"143",
    "340":"142",
    "330":"141",
    "320":"140",
    "310":"139",
    "300":"138",
    "290":"137",
    "280":"135",
    "270":"134",
    "260":"133",
    "250":"132",
    "240":"131",
    "230":"130"
  };

In [108]:
def convert_quant_score(quant_score):
    quant_list = []
    quant_score = quant_score.tolist()
    for old_quant in quant_score:
        x=int(old_quant)
        y=str(x)
        if (x >= 130 and x<=170):
            quant_list.append(x)
            continue
        try :
            
             if(x >=230 or x<=800):
                quant_list.append(int(quantitative_table[y]))
        except:
                quant_list.append(130)
       
            
        
    return quant_list

In [109]:
data['greQ'] = convert_quant_score(data['greQ'])


print(data.shape)
data.head()

(5146, 12)

,major,researchExp,industryExp,toeflScore,internExp,greV,greQ,greA,ugCollege,cgpa,cgpaScale,univName
0,Systems and Control,0,18,112.0,5.0,160.0,167,4.5,Dharamsinh Desai University,8.50,10,Worcester Polytechnic Institute
2,(MIS / MSIM / MSIS / MSIT),0,66,94.0,0.0,146.0,157,3.0,IET DAVV,78.28,100,Worcester Polytechnic Institute
4,MIS,0,0,81.0,0.0,420.0,170,2.5,Pune University,57.00,100,Worcester Polytechnic Institute
6,MIS,0,0,104.0,0.0,150.0,161,4.5,University of Mumbai,62.20,100,Worcester Polytechnic Institute
7,MIS-management related courses,0,0,95.0,0.0,147.0,156,3.0,MU,52.00,100,Worcester Polytechnic Institute

In [111]:
def convert_verbal_score(verbal_score):
    verbal_list = []
    verbal_score = verbal_score.tolist()
    for old_verbal in verbal_score:
        x=int(old_verbal)
        y=str(x)
        if(x >= 130 and x<=170):
            verbal_list.append(x)
            continue
        try:
            if(x >=230 and x<=800):
                 verbal_list.append(x/4.7)
        except:
            verbal_list.append(130)
    return verbal_list

In [112]:
data['greV'] = convert_quant_score(data['greV'])

In [113]:
def normalize_gpa(data2,cgpa,totalcgpa):
    cgpa = data2[cgpa].tolist()
    totalcgpa = data2[totalcgpa].tolist()
    for i in range(len(cgpa)):
        if totalcgpa[i] != 0:
            cgpa[i] = cgpa[i] / totalcgpa[i]
        else:
            cgpa[i] = 0
    data2['cgpa'] = cgpa
    return data2

In [114]:
data = normalize_gpa(data,'cgpa','cgpaScale')

In [115]:
data.head()
print(data.shape)

(5146, 12)

In [116]:
data = data.drop('researchExp',1)
data= data.drop('industryExp',1)
data= data.drop('internExp',1)

In [117]:
data = data.drop('ugCollege',1)

data = data.drop('major',1)

In [118]:
print(data.shape)

(5146, 7)

In [119]:
data.to_csv('processed_data.csv')